<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="5">
   <test name="Test4">
   <classes>
     <class name="online.accountEntry"/>
     <class name="online.openTree"/>
     <class name="online.checkMenu"/>
     <class name="online.playButton"/>
     <class name="online.checkAddCamera"/>
     <class name="online.checkRemoveCamera"/>
     <class name="online.checkRenameCamera"/>
     <class name="online.scale"/>
     <class name="online.deleteScreen"/>
     <class name="online.logout"/>
     </classes>
    </test>
 </suite>


